<h1>New Item</h1>

<%= form_with model: @item, local: true do |form| %>
  <p>
    <%= form.label :item_id %><br>
    <%= form.text_field :item_id %>
  </p>
  <p>
    <%= form.label :serial_number %><br>
    <%= form.text_field :serial_number %>
  </p>
  <p>
    <%= form.label :item_name %><br>
    <%= form.text_field :item_name %>
  </p>
  <p>
    <%= form.label :category %><br>
    <%= form.text_field :category %>
  </p>
  <p>
    <%= form.label :quality_score %><br>
    <%= form.number_field :quality_score %>
  </p>
  <p>
    <%= form.label :currently_available %><br>
    <%= form.check_box :currently_available %>
  </p>
  <p>
    <%= form.label :image %><br>
    <%= form.text_field :image %>
  </p>
  <p>
    <%= form.label :details %><br>
    <%= form.text_area :details %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back to Items', items_path %>
