<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stock'Em - <%= @item.item_name %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f8f8f8;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #500000;
      color: white;
      padding: 15px 20px;
    }

    .header-title {
      font-size: 30px;
      font-weight: bold;
    }

    .greeting {
      font-size: 20px;
      margin-right: 10px;
    }

    .user-icon {
      font-size: 20px;
      color: white;
    }

    .main {
      flex: 1;
      padding: 5px 40px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      margin: 20px auto;
      max-width: 1200px;
    }

    h1 {
      text-align: center;
      color: #500000;
      margin-bottom: 30px;
    }

    h2 {
      color: #500000;
      margin-bottom: 15px;
      font-size: 22px;
    }

    h3 {
      color: #500000;
    }

    .content-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 40px;
      align-items: flex-start;
      height: 60%;
    }

    .left-column, .right-column {
      flex: 1;
      padding: 20px;
      background-color: #f5f5f5;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      flex-shrink: 0;
      box-sizing: border-box;
    }

    .right-column {
      max-height: 95%;
      overflow-y: auto;
    }

    .item-details {
      margin-bottom: 20px;
    }

    .item-details p {
      font-size: 16px;
      color: #666;
      margin-bottom: 10px;
    }

    .item-details strong {
      color: #333;
    }

    .availability {
      font-weight: bold;
    }

    .availability-green {
      color: green;
    }

    .availability-red {
      color: red;
    }

    .img-container img {
      margin: 20px 0;
      max-width: 100%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .btn-container {
      margin-top: 20px;
      display: flex;
      gap: 10px;
    }

    .btn {
      padding: 10px 15px;
      background-color: #500000;
      color: white;
      border-radius: 20px;
      text-decoration: none;
      font-weight: bold;
      transition: background-color 0.3s;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .btn:hover {
      background-color: #800000;
    }

    .btn2 {
      font-size: 14px;
      padding: 5px 10px;
      background-color: #9c7c08;
      color: white;
      border-radius: 10px;
      font-weight: bold;
      text-decoration: none;
      transition: background-color 0.3s;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 5px;
    }

    .event-user {
      font-weight: bold;
      color: #333;
      margin: 0;
      font-size: 0.9em;
    }

    .event-details {
      color: #555;
      margin-top: 5px;
      font-size: 0.8em;
    }

    .editable {
      display: none;
      font-size: 16px;
      color: #333;
      margin-bottom: 10px;
      border: none;
      outline: none;
      width: calc(100% - 20px);
      padding: 5px;
      margin-left: 0;
      padding-left: 0;
    }

    .editable-field {
      margin-left: -15px;
      padding-left: 0;
    }

    .editable:focus {
      border-bottom: 1px solid #500000;
      background-color: white;
    }

    .editing .editable {
      display: inline;
    }

    .editing .display {
      display: none;
    }

    .updateForm {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .status-section {
      background-color: #f5f5f5;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
    }

    .status-select {
      margin-left: 18px;
      padding: 10px;
      border-radius: 5px;
      border: 2px solid #ccc;
      background-color: #f5f5f5;
    }

    .update-button-container {
      margin-left: 10px;
    }

    #action_buttons {
      display: none;
      margin-top: 20px;
    }

    @media (max-width: 768px) {
      .content-wrapper {
        flex-direction: column;
      }
    }
  </style>
</head>
<body>
  <div class="main">
    <h1><%= @item.item_name %></h1>
    <div class="content-wrapper">
      <div class="left-column">
        <h2>Item Details</h2>
        <div class="item-details">
          <p><strong>Item ID:</strong> <%= @item.id %></p>
          <p><strong>Serial Number:</strong> <%= @item.serial_number %></p>
        </div>
        <%= form_with model: @item, local: true do |f| %>
          <div class="item-details">
            <p class="editable-field">
              <strong class="editable-label">Item Name:</strong>
              <span class="display"><%= @item.item_name %></span>
              <%= f.text_field :item_name, class: "editable" %>
            </p>
            <% categories = JSON.parse(File.read(Rails.root.join('app/assets/data/category.json')))['data'] %>
            <p class="editable-field">
              <strong class="editable-label">Category:</strong>
              <span class="display"><%= @item.category %></span>
              <%= f.select :category, options_for_select(categories.map { |category| [category, category] }, @item.category), {prompt: 'Select a category'}, { class: "editable" } %>
            </p>
            <p class="editable-field">
              <strong class="editable-label">Quality Score:</strong>
              <span class="display"><%= @item.quality_score %></span>
              <%= f.text_field :quality_score, class: "editable" %>
            </p>
            <p class="editable-field">
              <strong class="editable-label">Status:</strong>
              <span class="display"><%= @item.status %></span>
              <%= f.select :status, options_for_select([nil, 'Available', 'Damaged', 'Lost', 'Not Available'], @item.status), {}, { class: "editable", id: 'item_internal_status' } %>
            </p>
            <p class="editable-field">
              <strong class="editable-label">Details:</strong>
              <span class="display"><%= @item.details %></span>
              <%= f.text_area :details, class: "editable" %>
            </p>
          </div>

          <div id="action_buttons">
            <button type="submit" id="submit_button" class="btn">Save</button>
            <button type="button" id="cancel_button" class="btn">Cancel</button>
          </div>
        <% end %>

        <div class="item-details">
          <p>
            <strong>Available:</strong>
            <span class="availability <%= @item.currently_available ? 'availability-green' : 'availability-red' %>">
              <%= @item.currently_available ? 'Yes' : 'No' %>
            </span>
          </p>
        </div>

        <div class="img-container">
          <%= image_tag(@item.image) if @item.image.present? %>
        </div>

        <div class="btn-container">
          <% if @item.currently_available %>
            <%= link_to 'Checkout', create_event_path(itemid: @item.id), class: 'btn' %>
          <% else %>
            <%= link_to 'Checkin', create_event_path(itemid: @item.id), class: 'btn' %>
          <% end %>
          <button id="edit_button" class="btn">Edit</button>
          <%= button_to 'Back', items_path, method: :get, class: 'btn', form: { class: 'back-button-form'}, id: 'back_button' %>
          <%= button_to 'Delete', item_path(@item), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' }}, class: 'btn', id: 'delete_button' %>
        </div>
      </div>

      <div class="right-column">
        <h2>Item History</h2>
        <div class="notes-section">
          <% @events.each do |event| %>
            <br>
            <p class="event-user">
              <%= User.find(event.associated_user_id).first_name %>
              <%= User.find(event.associated_user_id).last_name %>
              (<%= event.created_at.to_s.split[0] %>):
            </p>
            <p class="event-details">
              <%= event.details %>
            </p>
          <% end %>

          <h2>Notes</h2>
          <% if !@writing_note %>
            <%= link_to 'Create Note', item_path(id: @item.id, writing_note: true), class: 'btn2' %>
          <% end %>

          <% if @writing_note %>
            <%= form_tag(add_note_path, method: "get") do %>
              <%= label_tag(:note_msg, '') %>
              <%= text_area_tag(:note_msg) %>
              <%= hidden_field_tag :id, @item.id %>
              <br>
              <input type="submit" value="Publish" class="btn2">
            <% end %>
          <% end %>

          <% @notes.each do |note| %>
            <br>
            <p class="event-user">
              <%= User.find(note.user_id).first_name %>
              <%= User.find(note.user_id).last_name %>
              (<%= note.created_at.to_s.split[0] %>):
            </p>
            <p class="event-details">
              <%= note.msg %>
            </p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="status-section">
      <h3>Update:</h3>
      <%= form_with model: @item, url: set_status_item_path(@item), class: "updateForm", method: :patch, local: true do |f| %>
        <label for="status"><strong>Select Status:</strong></label>
        <%= f.select :status, 
          options_for_select(
            [['Clear Status', nil], 'Damaged', 'Lost', 'Not Available', 'Intact'].reject { |s| s[1] == @item.status },
            @item.status
          ),
          {},
          { class: "status-select", name: "item[status]" }
        %>
        <div class="update-button-container">
          <%= f.submit "Update Status", class: "btn" %>
        </div>
      <% end %>
    </div>
  </div>

  <script>
    setTimeout(function() {
      var flashNotice = document.getElementById('flash-notice');
      if (flashNotice) {
        flashNotice.style.display = 'none';
      }
    }, 4000);

    document.getElementById('edit_button').addEventListener('click', function() {
      document.querySelectorAll('.editable').forEach(function(input) {
        input.style.display = 'inline';
        input.parentElement.classList.add('editing');
      });

      document.querySelectorAll('select.editable').forEach(function(select) {
        select.style.display = 'inline';
      });

      document.querySelectorAll('.display').forEach(function(span) {
        span.style.display = 'none';
      });
      document.getElementById('action_buttons').style.display = 'block';
      this.style.display = 'none';
    });

    document.getElementById('cancel_button').addEventListener('click', function() {
      document.querySelectorAll('.editable').forEach(function(input) {
        input.style.display = 'none';
      });

      document.querySelectorAll('select.editable').forEach(function(select) {
        select.style.display = 'none';
      });

      document.querySelectorAll('.display').forEach(function(span) {
        span.style.display = 'inline';
      });
      document.getElementById('action_buttons').style.display = 'none';
      document.getElementById('edit_button').style.display = 'inline';
    });
  </script>
</body>
</html>